.header {
    background: rgba(255, 0, 0, 0.196);
}

.intro {
    background: rgba(255, 166, 0, 0.232);
}

.form {
    background: rgba(255, 255, 0, 0.232);
}

.resCont {
    background: rgba(89, 255, 0, 0.264);
}